* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Wrraper style*/
.wrapper {
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.192);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*search box style*/
.search-box {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

}

.search-box:hover {
    outline: 2px solid rgb(242, 4, 4);
}

/*input search*/
.search-inp {
    outline: none;
    border: none;
    letter-spacing: 2px;
    background-color: aliceblue;
}

/*search icon*/
.fa-solid {
    color: rgb(29, 44, 215);
}

.fa-solid:hover {
    color: rgb(5, 17, 154);
    transform: scale(1.1);
}

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

/*card style*/
.card {
    width: 240px;
    height: 300px;
    margin-top: 25px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    top: 80%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6));
}

/*Image style*/
.card img {
    padding: 0%;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.card:hover {
    transform: translateY(2px);
}

/*blurred layer*/
.blurred-layer {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 40%;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color: rgba(0, 0, 0, 0.01), transparent 60%;
    mask-image: linear-gradient(to top, black 70%, transparent);
    -webkit-mask-image: linear-gradient(to top, black 70%, transparent);
    z-index: 1;
}

.content {
    position: absolute;
    bottom: 22px;
    left: 15px;
    z-index: 2;
    color: #fff;
}

.content h3 {
    margin: 0;
    font-size: 20px;
}

.content p {
    margin: 5px 0 0;
    font-size: 14px;
}