* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
background-image: url(image.jpg);
    position: relative;
}


.container {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 5px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    background: none;
    backdrop-filter: blur(30px);
    border-radius: 5px;

}

h2 {
    text-align: center;
    font-weight: 800;
    border-bottom: 3px solid #b5d9ea;
    padding: 5px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 4px;
}

input {
    padding: 10px;
    outline: none;
    border: 1px solid #47aad8;
    border-radius: 4px;
    box-shadow: 0 4px 18px rgba(174, 220, 228, 0.9);

}

#taskInput {
    width: 100%;
    flex: 1;
}

#addBtn {
    width: 20%;
    background: #dc7575;
    transition: all 0.3s ease;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 18px rgba(228, 174, 228, 0.9);

}

#addBtn:hover {
    transform: scale(1.05);
}

#addBtn:active {
    transform: translateY(2px);
}

.todos-container {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#task-list {
    width: 100%;

}

#task-list li {
    width: 100%;
    padding: 10px;
    margin-bottom: 7px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    list-style-type: none;
    box-shadow: 0 4px 18px rgba(174, 220, 228, 0.9);
    animation: fadeIn 0.2s ease-in;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
    }
}


#task-list li:hover{
        box-shadow: 0 4px 18px rgba(55, 111, 121, 0.9);

}


.checkbox {
    min-width: 20px;
    height: 20px;
    border: 2px solid rgba(65, 64, 64, 0.3);
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
    transition: all 0.3s ease;
}

.checkbox:checked {
    background: #dc7575;
    position: relative;
    border: 2px solid #dc7575;

    transition: all 0.3s ease-in-out;
}

.checkbox:checked::before {
    content: '\2713';
    color: #fff;
    position: absolute;
    top: 0px;
    left: 3px;
    font-size: 1.04rem;
    transform: scale(1.01);
}

.completed span {
    text-decoration: line-through;
}

#task-list li span {
    flex: 1;
    font-size: 1.2rem; 
    margin-left: 10px;
    word-wrap: break-word;
    
}

.task-button {
    width: 30%;
    margin-right: -15px;
    display: flex;
}

.edit-btn {
    width: 40px;
    padding: 10px 5px;
    border: none;
    border-radius: 6px;
    margin-right: 5px;
    color: #20359d;
    background: #47aad8;
    cursor: pointer;
    transition: all 0.3s ease;
}

.edit-btn:hover {
    transform: scale(1.1);
        color: #832bcb;

}
.edit-btn:active {
    transform: translateY(2px);
    color: #801c1c;
}
.delete-btn:active {
    transform: translateY(2px);
}

.delete-btn {
    width: 40px;
    padding: 10px 5px;
    border: none;
    border-radius: 6px;
    color: aliceblue;
    background: #47aad8;
    cursor: pointer;
    transition: all 0.3s ease;
}

.delete-btn:hover {
    transform: scale(1.1);
}