* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #fff;
    background: #e9d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 220px;
    height: 250px;
    padding: 5px;
    background: #ffffff0a;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    background: #d28686;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(174, 89, 99, 0.064);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.card p span {
    min-width: 13em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all 0.5s;
}

.card p:hover {
    flex: 4;
}

.card p:hover span {
    transform: rotate(0deg);
}